.Container-Nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Container-Nav nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

nav li {
    margin: 1rem;
}

nav li a {
    font-size: 1.50vw;
}

nav img {
    width: 12.50vw;
    height: 12.50vw;
}

nav ul li a:link {
    text-decoration: none;
}

#btnCadastro {
    display: flex;
    border: none;
    background-color: #FE0000;
    color: #FFFFFF;
    border-radius: 12vw;
    font-size: 1.20vw;
    outline: none;
    padding: 0.3vw 0.3vw 0.3vw 0.3vw;
}


/* Responsivo */

@media (max-width: 800px) {
    nav li a {
        font-size: 1.30vw;
    }
}

@media (max-width: 620px) {
    nav li a {
        font-size: 1.10vw;
    }
}

@media (max-width: 550px) {
    nav li a {
        font-size: 0.90vw;
    }
}

@media (max-width: 508px) {
    nav li a {
        font-size: 0.70vw;
    }
}

@media (max-width: 470px) {
    nav li a {
        font-size: 0.50vw;
    }
}