body {
    background-color: #F3F3F3;
}

.log {
    display: flex;
    justify-content: center;
    margin: 5vw 0vw 3vw 0vw;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 32vw;
    height: 100%;
    background-color: white;
    border-radius: 2.2vw;
    box-shadow: 0px 3px 6px #696969;
    padding: 5vw 1vw 5vw 1vw;
}

.login-container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vw;
    margin-top: 2vw;
    font-size: 2.64vw;
}

.log Input {
    width: 22.60vw;
    height: 1.80vw;
    border: 0;
    border-bottom: 0.12vw solid #000000;
    margin-bottom: 1vw;
    outline: none;
    transition: .2s ease-in-out;
    box-sizing: border-box;
}

.log label {
    margin-bottom: 0.35vw;
}

.log button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.35vw;
    height: 1.76vw;
    border-radius: 1.83vw;
    border: none;
    background-color: #EF0000;
    color: #FFFFFF;
    font-size: 1.18vw;
    margin: 2vw;
}

.log button:focus {
    outline-style: none;
}

.log p {
    margin-bottom: 0;
    font-size: 1.17vw;
    text-align: center;
}

.log input[type="Email"] {
    margin-bottom: 3vw;
}

#cadastre-se {
    text-decoration: none;
    font-size: 1.17vw;
}

@media(max-width: 550px) {
    .login-container h1 {
        margin-bottom: 2vw;
        margin-top: 1.5vw;
        font-size: 2.64vw;
    }
    .log input[type="Email"] {
        margin-bottom: 2vw;
    }
    .login-container {
        width: 31vw;
        height: 94%;
        border-radius: 1.8vw;
        padding: 4vw 1vw 3vw 1vw;
    }
}