.container-teste {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.texto-principal h1 {
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

.texto-principal h2 {
    color: white;
    font-size: 2.0rem;
    text-align: center;
}

.container-background {
    background-image: linear-gradient(to bottom, #D6002C, #9c1732);
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0 0 0;
}

.texto-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-teste .imgPossarle {
    width: 200px;
    height: 200px;
    margin-top: 1.4vw;
    margin-bottom: 1.4vw;
}

.container-texto {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.texto-alinhado {
    text-align: justify;
    max-width: 30rem;
}

.container-objetivos {}

.container-objetivos h1 {
    display: flex;
    color: white;
    padding-top: 10px;
}

.container-objetivos p {
    padding-top: 20px;
    max-width: 18rem;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

.container-objetivos img {}

.Footer-Alterado {
    margin: 4vw 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text ul li {
    list-style-type: none;
    color: #FFFFFF;
}

.Footer-Alterado hr {
    height: 5rem;
    border: 0.5px #ffffff solid;
    margin-left: 4rem;
    margin-right: 4rem;
}

@media(max-width: 800px) {
    .container-teste .imgPossarle {
        width: 100px;
        height: 100px;
        margin-top: 1.4vw;
        margin-bottom: 1.4vw;
    }
    .texto-principal h1 {
        color: white;
        font-size: 1.5rem;
        text-align: justify;
    }
    .texto-principal h2 {
        color: white;
        font-size: 1rem;
        text-align: justify;
    }
}