.Footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D6002C;
    background-color: linear-gradient(margin-right, #D6002C, #470613);
}

.Footer hr{
    height: 5rem;
    border: 0.5px #ffffff solid;
    margin-left: 4rem;
    margin-right: 4rem;
}

.text ul li{
    font-size: medium;
    list-style-type: none;
    text-decoration: none;
    color: #FFFFFF;
}

.images{
    display: flex;
    align-items: center;
}

#logo{
    margin-right: 2rem;
    width: 110px;
    height: 100px;
}

#logoSenai{
    width: 130px;
    height: 40px;
}